!!!
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, user-scalable=no"}

    :plain
      <!-- Open Graph Generated: a.pr-cy.ru -->
      <meta name="og:title" content="От Нью-Йорка до Москвы: Почему сервисные апартаменты стали так востребованы">
      <meta name="og:description" content="Мы обожаем отели: и то, как они вдохновляют новый тип жилья. Как будет устроена эта новая жизнь, когда можно будет наслаждаться всеми преимуществами отеля, не выходя из дома – читайте в нашем проекте.">
      <meta name="og:image" content="https://img.the-village.ru/djtb5bBdDHY8aKPXJGNfVAOmbeZHmUG9OWu_w6s5n2E/q:88/plain/2021/04/14/og.jpg">
      <meta name="og:locale" content="ru_RU">
      <meta name="fb:app_id" content="https://www.facebook.com/Villagemsk">
      <meta name="og:type" content="website">
      <meta name="twitter:image:src" content="https://img.the-village.ru/djtb5bBdDHY8aKPXJGNfVAOmbeZHmUG9OWu_w6s5n2E/q:88/plain/2021/04/14/og.jpg">

      <meta http-equiv="Cache-Control" content="public" />

      <link rel="icon" type="image/svg+xml" href="https://www.the-village.ru/favicon.svg">
      <link rel="apple-touch-icon" sizes="180x180" href="https://www.the-village.ru/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="https://www.the-village.ru/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="https://www.the-village.ru/favicon-16x16.png">
      <link rel="alternate icon" href="https://www.the-village.ru/favicon.ico">
      <link rel="mask-icon" href="https://www.the-village.ru/safari-pinned-tab.svg" color="#ffffff">
      
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">


    %title
      От Нью-Йорка до Москвы: Почему сервисные апартаменты стали так востребованы
      
    :plain
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110499384-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-110499384-1');
        </script>




      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1719332354960318');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1719332354960318&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->


    = inline_stylesheet "app"
  %body
    = yield
    

    
    :plain
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" async=""></script>
      

    = inline_javascript "app"

    