%div.sheba2021__footer
	%div.footer__wrapper
		%div.footer__inner
			%div.footer__logos
				%div.logos__partner
					%a{:href => "http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=jkbkp&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=", target: "_blank"}
						%img{src: "images/logo/partner.svg"}

				%div.logos__village
					%a{:href => "http://the-village.ru/", target: "_blank"}
						%img{src: "images/logo/village.svg"}

			%div.footer__share
				%a{class: "share__item", href: "https://www.facebook.com/sharer/sharer.php?u=https://specials.the-village.ru/shebahopegrows", target: "_blank"}
					%img{src: "images/system/fb.svg"}
				%a{class: "share__item", href: "http://vk.com/share.php?url=https://specials.the-village.ru/shebahopegrows", target: "_blank"}
					%img{src: "images/system/vk.svg"}
				%a{class: "share__item", href: "https://twitter.com/intent/tweet?text=https://specials.the-village.ru/shebahopegrows", target: "_blank"}
					%img{src: "images/system/tw.svg"}




