%div.sheba2021__header
	%div.header__wrapper
		%div.header__inner

			%div.header__logos
				%div.component__containerLogos
					%div.logos__village
						%div.logos--item
							%a{:href => "http://the-village.ru/", target: "_blank"}
								%img{src: "images/logo/village.svg"}

					%div.logos__vtb
						%div.logos--item
							%a{:href => "http://ads.adfox.ru/5024/goLink?p1=byvgb&p2=frfe&p5=iyhgz&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=", target: "_blank"}
								%img{src: "images/logo/vtb.svg"}